.project-list-container {
  padding: 20px;
}

.project-list-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Centrer les titres */
}

.project-list-card-column {
  padding: 0 10px;
}

.project-list-card-column .mb-3 {
  margin-bottom: 15px;
}

.pagination {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .project-list-card-column {
    padding: 0 5px;
  }
}
