/* Pour les écrans larges */
/* .navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
} */

/* .navbar.dark {
  background-color: #343a40;
  color: #fff;
} */


/* Bouton de dark mode */
.toggle-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: absolute;
  right: 2%;
  margin-top: 10px
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.toggle-label::after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #5e5e5e;
}

.toggle-checkbox:checked + .toggle-label::after {
  transform: translateX(20px) translateY(-50%);
}

/* .logo-container {
  display: flex;
  align-items: center;
} */

.logo-image {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.logo {
  align-items: center;
}


/* Pour les écrans étroits */
/* @media (max-width: 1000px) { */
  /* .navbar { */
    /* flex-direction: column; Affichage en colonne pour les petits écrans */
    /* align-items: center; Centrage des éléments */
  /* } */

  /* .toggle-container { */
    /* order: -1; Placer le toggle de mode sombre avant l'image-logo */
    /* margin-right: 0; Réinitialiser la marge */
    /* margin-bottom: 10px; Ajouter un espace en bas */
  /* } */

  /* .logo-container {
    flex: 1;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
} */
