/* Style pour les médailles */
.medal-icon {
    width: 30px;
    height: 30px;
}

/* Style pour la carte des compétences */
.skill-card {
    width: 12rem;
    height: 12rem;
    margin: 10px;
    position: relative;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    /* Style pour placer la médaille en haut à droite */
    .medal-container {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
    }

    /* Style pour l'image de la carte des compétences */
    .card-img-top {
        height: 100px;
        object-fit: contain;
    }

    .card-title {
        margin-bottom: 15px;
    }

    .card-body {
        transition: background-color 0.3s ease;
        cursor: pointer;
        
        &:hover {
            background-color: #f0f0f0;
        }
    }

    &:hover {
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 255, 0.2);
        color: #007bff;
    }
}
